.checkmark {
    display: block;
    stroke-width: 6;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #ffffff;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.5s cubic-bezier(0.65, 0, 0.45, 1) 0.1s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  
  #usernameFormControlInput:focus,
  #usernameFormControlInput:not(:placeholder-shown) {
    clip-path: polygon(
      0 0,
      calc(0% + 0.8rem) 0%,
      calc(0% + 0.8rem) 5%,
      calc(0% + 5rem) 5%,
      calc(0% + 5rem) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  
  #emailFormControlInput:focus,
  #emailFormControlInput:not(:placeholder-shown) {
    clip-path: polygon(
      0 0,
      calc(0% + 0.8rem) 0%,
      calc(0% + 0.8rem) 5%,
      calc(0% + 3.2rem) 5%,
      calc(0% + 3.2rem) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  
  #passwordFormControlInput:focus,
  #passwordFormControlInput:not(:placeholder-shown) {
    clip-path: polygon(
      0 0,
      calc(0% + 0.8rem) 0%,
      calc(0% + 0.8rem) 5%,
      calc(0% + 4.8rem) 5%,
      calc(0% + 4.8rem) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  #confirmPasswordFormControlInput:focus,
  #confirmPasswordFormControlInput:not(:placeholder-shown) {
    clip-path: polygon(
      0 0,
      calc(0% + 0.8rem) 0%,
      calc(0% + 0.8rem) 5%,
      calc(0% + 8.1rem) 5%,
      calc(0% + 8.1rem) 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }